/* Global box-sizing property to include padding and border in the element's total width and height */
* {
  box-sizing: border-box;
}

/* Styles for the banner section */
.banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center;
  overflow: hidden;
  background-size: cover;
  z-index: 1;
}

/* Styles for the h1 tag within the banner section */
.banner-text {
  opacity: 0;
  animation: fadeIn 4s ease-in-out forwards;
  font-family: "IM Fell DW Pica", serif ;
  position: relative;
  color: var(--headline-color); /* Using a custom CSS variable for headline color */
  font-size: 28px;
  text-shadow: 5px 5px #050404;
  /* Center the banner text without affecting the sliding animation */

}

/* Styles for the background image within the banner */
.banner img.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Fade-in effect for the banner text */
.fade-in {
  width: 90%;
  color: #ffc957;
  /* Remove left and transform properties to avoid pushing content to the right */
  text-align: center;
  position: relative;
  display: inline-block;
  animation: fadeIn linear 7s;
  list-style: none;
}

/* Additional fade-in effect for banner text (fade-in-1 class) */
.fade-in-1 {
  width: 90%;
  color: #ffc957;
  /* Remove left and transform properties to avoid pushing content to the right */
  text-align: center;
  position: relative;
  display: inline-block;
  animation: fadeIn linear 7s;
  list-style: none;
  display: none; /* Initially hidden */
}

/* Styling for language switch (English and Sindarin) */
.languages li .english {
  display: none; /* Initially hidden */
  transition: all 0.3s linear;
  color: #ffc957;
}

/* Define the fadeIn animation keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Show English text and hide Sindarin text when hovering over the language switch */
.languages li:hover .Sindarin {
  display: none;
  color: #ffc957;
}

/* Show Sindarin text and hide English text when hovering over the language switch */
.languages li:hover .english {
  display: block;
  color: #ffc957;
}

.languages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Styling for the welcome textbox (used for the main headline) */
.welcome-textbox {
  width: 90%;
  color: #ffc957;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.welcome-textbox h1 {
  font-size: 62px;
  text-shadow: 5px 5px #050404;
  text-decoration: none;
}

/* Button styles */
.difficulty-buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  opacity: 0;
}

.difficulty-buttons.fade-in {
  opacity: 1;
  /* Apply the sliding effect only to the opacity animation */
  animation: fadeIn linear 7s;
}

.difficulty-buttons button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #ffc957;
  border: none;
  color: #050404;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: 1px solid var(--headline-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 22.5px;
  font-family: "IM Fell DW Pica", serif ;
  position: relative;
  font-size: 28px;
}

.difficulty-buttons button:hover {
  background-color: #f7f2e7;
  transform: scale(1.05);
}
